{% extends 'vehicle/adminbase.html' %}
{% block content %}
{% load static %}

	<!-- main content -->
	<div class="wrapper">

<!-- ****** table  start ********** -->
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >
							Hire Mechanics Based On Skill
						</h3>

					</div>
					<div class="card-content">
						<table>
							<thead>
                <tr>
                  <th>Mechanic Name</th>
                  <th>Profile Picture</th>
                  <th>Mobile Number</th>
                  <th>Address</th>
                  <th>Skills</th>
                  <th>Approve</th>
                  <th>Delete</th>
                </tr>
							</thead>
							<tbody>
                {% for m in mechanics %}
                <tr>
                  <td> {{m.get_name}}</td>
                  <td> <img src="{% static m.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
                  <td>{{m.mobile}}</td>
                  <td>{{m.address}}</td>
                  <td>{{m.skill}}</td>
                  <td><a  style="text-decoration: none; font-size: 25px; background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; border: none; display: inline-block; text-align: center;" href="{% url 'approve-mechanic' m.id  %}">Approved</a></td>
                  <td><a style="text-decoration: none; font-size: 25px; background-color: #f44336; color: white; padding: 10px 20px; border-radius: 5px; border: none; display: inline-block; text-align: center;"href="{% url 'delete-mechanic' m.id  %}">Delete</a></td>
                </tr>
                {% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
<!-- ****** table start ********** -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<!-- end main content -->
{% endblock content %}
